@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color : hsl(0deg, 0%, 100%);
    background: hsl(210deg, 30%, 8%);

    /*color : hsl(222deg, 22%, 5%);*/
    /*background: hsl(0deg, 0%, 100%);*/
}

main{
    color : hsl(0deg, 0%, 100%);
    background: hsl(210deg, 30%, 8%);
}

.hero{
    position: relative;
    top:0;
    left:0;
}

#hero-bg {
    /*display: block;*/
    height: 300px;
    background: linear-gradient(0deg, hsla(200deg, 100%, 85%, 0.1), hsla(200deg, 100%, 85%, 0));
}

#hero-wave{
    background-color: hsla(200deg, 100%, 85%, 0.1);
    position: relative;
    z-index: 500;
}

#hero-img{
    position: absolute;
    top: 100px;
    right: 180px;
    height: 230px;
    z-index: 200;
}

/* Primary Navigation */
.nav-container{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-sub-container{
    display: flex;
    align-items: center;

    margin: 2rem 0;
    padding: 0 3rem;
    border-radius: 3rem;
    gap: 10rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}


.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    gap:2rem;

}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75rem;
}

@supports (backdrop-filter: blur(2rem)) {
    .nav-sub-container{
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.8rem);
    }
}

@media (max-width: 35rem){
    .nav-sub-container{
        /*background: none;*/
        backdrop-filter: none;
    }

    .primary-navigation{
        gap:2em;

        position: fixed;
        inset: 0 0 0 20%;

        flex-direction: column;
        padding: min(10vh, 10rem) 5em;
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.8rem);
    }
}

